{{page-title "Scrape"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <LinkTo
      @route="scrapes.edit"
      @model={{this.model}}
      class="btn"
    >Edit</LinkTo>
    <button
      type="button"
      class="btn"
      {{on "click" (fn this.retryScrape this.model)}}
    >Retry</button>
    <button
      type="button"
      class="btn"
      {{on "click" (fn this.queueScrape this.model)}}
    >Queue</button>
    <button
      type="button"
      class="btn"
      {{on "click" (fn this.parseScrape this.model)}}
    >Parse</button>
    <LinkTo
      @route="scrapes.graph"
      @model={{this.model.id}}
      class="btn"
    >Graph</LinkTo>
  </:subnav>
  <:main>
    <Scrapes::Item @scrape={{this.model}} />
  </:main>
</RouteLayout>