{{page-title "Edit Answer"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    answer edit
  </:subnav>
  <:main>
    <form class="builder-form" {{on "submit" this.saveAnswer}}>
      <p class="muted">{{this.model.question.content.content}}</p>
      <textarea
        {{on "change" this.updateContent}}
        rows="{{this.textareaRows}}"
      >{{this.model.content}}</textarea>
      <div class="form-actions">
        <button
          type="button"
          class="btn favorite {{if this.model.favorite 'favorited'}}"
          data-tooltip="Favorited answers appear in Career Data"
          {{on "click" this.toggleFavorite}}
        >★</button>
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn danger" {{on "click" this.deleteAnswer}}>Delete</button>
      </div>
    </form>
  </:main>
</RouteLayout>
