{{page-title "Edit Answer"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav></:subnav>
  <:main>
    <Answers::Form @answer={{this.model}} @showQuestion={{true}}>
      <:actions>
        <button
          type="button"
          class="btn danger"
          {{on "click" this.deleteAnswer}}
        >Delete</button>
      </:actions>
    </Answers::Form>
  </:main>
</RouteLayout>