{{page-title "Answers"}}
<Menus::SubnavBar>
  replace me
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='fairway'>
  <div class='panel-card'>

    <ul>
      {{#each this.model as |answer|}}
        <li>
          <button 
            type="button" 
            class="favorite-btn {{if answer.favorite 'favorited'}}"
            {{on "click" (fn this.toggleFavorite answer)}}
            title="{{if answer.favorite 'Remove from favorites' 'Add to favorites'}}"
          >
            {{#if answer.favorite}}★{{else}}☆{{/if}}
          </button>
          {{answer.content}}
          <LinkTo @route="answers.edit" @model={{answer}}>edit</LinkTo>
        </li>
      {{/each}}
    </ul>
    {{outlet}}
  </div>
</div>
