{{page-title "Answers"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    Answers
  </:subnav>
  <:main>
    <div class="panel-card">
      <ul>
        {{#each this.model as |answer|}}
          <li>
            <button
              type="button"
              class="btn favorite {{if answer.favorite 'favorited'}}"
              data-tooltip="Favorited answers appear in Career Data"
              {{on "click" (fn this.toggleFavorite answer)}}
            >★</button>
            {{answer.content}}
            <LinkTo @route="answers.edit" @model={{answer}}>edit</LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>
  </:main>
</RouteLayout>
