{{page-title "Answer"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:main>
    <Answers::Show
      @answer={{this.model}}
      @editRoute="answers.edit"
      @onDelete={{this.afterDelete}}
    >
      <:actions>
        <button
          type="button"
          class="px-2 py-1 text-xs rounded border border-gray-200 text-gray-600 hover:bg-gray-100"
          {{on "click" this.copyToClipboard}}
        >{{this.copyButtonText}}</button>
      </:actions>
    </Answers::Show>
  </:main>
</RouteLayout>