{{page-title "Answer"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    answer details
    {{#if this.model.favorite}}⭐{{/if}}
  </:subnav>
  <:main>
    <div class="panel-card">
      <div class="field">
        <h3>Question:</h3>
        {{this.model.question.content.content}}
      </div>
    </div>
    <Answers::Show @answer={{this.model}} @editRoute="answers.edit">
      <:actions>
        <button
          type="button"
          class="btn small"
          {{on "click" this.copyToClipboard}}
        >{{this.copyButtonText}}</button>
      </:actions>
    </Answers::Show>
  </:main>
</RouteLayout>