<div class="flex items-center gap-2 mb-4">
  <div class="flex-1 max-w-xs">
    <PowerSelect
      @options={{this.resumes}}
      @selected={{this.selectedResume}}
      @onChange={{this.selectResume}}
      @placeholder="Select resume…"
      as |resume|
    >{{or resume.name resume.title}}</PowerSelect>
  </div>
  <button
    type="button"
    class="btn shrink-0"
    {{on "click" this.scoreResume}}
  >Score</button>
</div>

<Scores::List
  @scores={{this.model}}
  @isPending={{this.isPending}}
  @showJobPost={{false}}
  @showStatus={{false}}
  @showCreated={{false}}
  @emptyMessage="No scores yet."
/>