<div class="flex items-center gap-2 mb-4">
  <div class="flex-1 max-w-xs">
    <PowerSelect
      @options={{this.resumes}}
      @selected={{this.selectedResume}}
      @onChange={{this.selectResume}}
      @placeholder="Select resume…"
      as |resume|
    >{{or resume.name resume.title}}</PowerSelect>
  </div>
  <button type="button" class="btn shrink-0" {{on "click" this.createSummary}}>+
    New Summary</button>
</div>

<Summaries::List
  @summaries={{this.model}}
  @isPending={{this.isPending}}
  @emptyMessage="No summaries for this job post."
/>