<div
  class="panel-card
    {{if @collapsible 'collapsible'}}
    {{if this.collapsed 'collapsed'}}"
>
  <div class="collapsible-head">
    <div class="panel-title">{{@title}}</div>
    {{#if (has-block "top")}}
      <div class="panel-actions">
        {{yield
          (hash
            collapsed=this.collapsed
            toggleCollapsed=this.toggleCollapsed
          )
          to="top"
        }}
      </div>
    {{/if}}
  </div>

  {{#if @collapsible}}
    <div class="collapsible-body">
      <div>
        {{yield}}
      </div>
    </div>
  {{else}}
    {{yield}}
  {{/if}}
</div>
