<div class="builder-form">
  <div class="field">
    <div class="field-label">User</div>
    {{@data.user}}
  </div>

  <div class="field">
    <div class="field-label">Job Post</div>
    {{this.data.jobPost.title}}
  </div>

  <div class="field">
    <div class="field-label">Resume</div>
    {{@data.resume}}
  </div>

  <div class="field">
    <div class="field-label">Cover Letter</div>
    {{@data.coverLetter}}
  </div>

  <div class="field">
    <div class="field-label">Applied At</div>
    {{format-date @data.application.appliedAt}}
  </div>

  <div class="field">
    <div class="field-label">Status</div>
    {{@data.application.status}}
  </div>

  <div class="field">
    <div class="field-label">Tracking URL</div>
    {{@data.application.trackingUrl}}
  </div>

  <div class="field">
    <div class="field-label">Notes</div>
    {{@data.application.notes}}
  </div>

  <div class="form-actions">
    {{yield}}
  </div>
  <LinkTo @route='job-applications.edit' @model={{@data.application}}>
  <button type="button" class="btn" {{on 'click' this.saveApplication}}>
      edit</button>
  </LinkTo>
</div>
