<article class="panel-card">
  <h3>
    <LinkTo @route="cover-letters.show" @model={{@coverLetter}}>
      {{@coverLetter.jobPost.title}}
    </LinkTo>
    at
    <LinkTo @route="companies.show" @model={{@coverLetter.jobPost.company}}>
      {{@coverLetter.jobPost.company.name}}
    </LinkTo>
  </h3>
</article>
{{yield}}