<article class="panel-card">
  <h3 class="panel-title">Cover Letter for
    {{@coverLetter.jobPost.title}}
    at
    {{@coverLetter.jobPost.company.name}}</h3>
  <div class="panel-actions">
    <button
      type="button"
      {{on "click" this.exportToDocx}}
      disabled={{this.isExporting}}
    >
      {{if this.isExporting "Exporting…" "Export to DOCX"}}
    </button>
  </div>
  <div class="panel-body">
    <div class="rich-text pre-wrap">
      {{@coverLetter.content}}
    </div>
    <div>
      {{! favorite boolean }}
    </div>
  </div>
</article>