<nav class="breadcrumbs" aria-label="breadcrumb">
  {{#each this.crumbs as |crumb|}}
    {{#unless crumb.isFirst}}
      <span class="breadcrumb-sep">/</span>
    {{/unless}}
    {{#if crumb.routeName}}
      <LinkTo @route={{crumb.routeName}} @models={{crumb.routeModels}} class="breadcrumb-link">{{crumb.label}}</LinkTo>
    {{else}}
      <span class="breadcrumb-link">{{crumb.label}}</span>
    {{/if}}
  {{/each}}
</nav>
