{{#if this.sidebarOpen}}
  <div
    class="mobile-overlay"
    role="presentation"
    {{on "click" this.close}}
  ></div>
  <div class="mobile-drawer">
    <Sidebar @onClose={{this.close}} />
  </div>
{{/if}}

<div class="course {{if this.sidebarOpen "course--sidebar-open"}}">
  <header class="site-header">
    <TopBar
      @showLoading={{this.showLoading}}
      @onToggle={{this.toggle}}
    />
  </header>
  <div class="course-body">
    <aside class="course-sidebar">
      <Sidebar @onClose={{this.noop}} />
    </aside>
    <div class="course-main">
      <div id="subnav-portal"></div>
      {{yield}}
    </div>
  </div>
</div>
