{{#unless @noSubnav}}
  <Menus::SubnavBar>
    <:left>
      <Breadcrumbs />
    </:left>
    <:center>
      {{yield to="subnav"}}
    </:center>
    <:right></:right>
  </Menus::SubnavBar>
{{/unless}}
<BarCart @flashMessages={{@flashMessages}} />
<div class="fairway {{@mainClass}}">
  {{yield to="main"}}
</div>
{{yield to="outlet"}}