{{#if @open}}

  <aside
    class="fixed top-0 left-0 w-64 h-full bg-white shadow-xl z-50 flex flex-col justify-between border-e border-gray-100 pointer-events-auto"
  >
    <div class="px-4 py-6">
      <div class="flex items-center justify-between mb-6">
        <span
          class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs text-gray-600"
        >
          Logo
        </span>
        <button
          class="text-lg p-2 hover:bg-gray-100 rounded"
          type="button"
          {{on "click" @onClose}}
        >✕</button>
      </div>

      <ul class="mt-6 space-y-1">
        <li>
          <LinkTo
            @route="cover-letters"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Cover letters
          </LinkTo>
        </li>

        <li>
          <LinkTo
            @route="resumes"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Resumes
          </LinkTo>
        </li>

        <li>
          <LinkTo
            @route="summaries"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Summaries
          </LinkTo>
        </li>

        <li>
          <LinkTo
            @route="scores"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Scores
          </LinkTo>
        </li>

        <li>
          <LinkTo
            @route="scrapes"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Scrapes
          </LinkTo>
        </li>

        <li>
          <LinkTo
            @route="questions"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Questions
          </LinkTo>
        </li>

        <li>
          <LinkTo
            @route="job-applications"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Job applications
          </LinkTo>
        </li>

        <li>
          <details
            class="group [&amp;_summary::-webkit-details-marker]:hidden"
            open=""
          >
            <summary
              class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
            >
              <span class="text-sm font-medium"> Job Posts </span>
              <span
                class="shrink-0 transition duration-300 group-open:-rotate-180"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </span>
            </summary>
            <ul class="mt-2 space-y-1 px-4">
              <li>
                <LinkTo
                  @route="job-posts"
                  {{on "click" @onClose}}
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100"
                >
                  Show All
                </LinkTo>
              </li>
              <li>
                <LinkTo
                  @route="job-posts.scrape"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Scape
                </LinkTo>
              </li>

              <li>
                <LinkTo
                  @route="job-posts.index"
                  class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >
                  Calendar
                </LinkTo>
              </li>
            </ul>
          </details>
        </li>

        <li>
          <LinkTo
            @route="companies"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Companies
          </LinkTo>
        </li>
        <li>
          <LinkTo
            @route="answers"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            answers
          </LinkTo>
        </li>
        <li>
          <LinkTo
            @route="career-data"
            {{on "click" @onClose}}
            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100"
          >
            Career Data
          </LinkTo>
        </li>
      </ul>
    </div>
  </aside>
{{/if}}
{{yield}}