<div class="pb-10">
  <h2 class="sr-only">Status</h2>
  <div
    class="after:mt-4 after:block after:h-1 after:w-full after:rounded-lg after:bg-gray-200"
  >
    <ol class="grid text-sm font-medium text-gray-600" style={{this.gridStyle}}>
      {{#each this.steps as |step|}}
        <li
          class="relative flex
            {{step.align}}
            {{if (eq step.state 'done') 'text-blue-500'}}
            {{if (eq step.state 'active') 'text-blue-600 font-semibold'}}
            {{if (eq step.state 'failed') 'text-red-500'}}
            {{if (eq step.state 'future') 'text-gray-400'}}
            "
        >
          <span class="hidden sm:block">{{step.label}}</span>

          <span
            class="absolute
              {{step.circleAlign}}
              -bottom-7 rounded-full text-white
              {{if (eq step.state 'done') 'bg-blue-500'}}
              {{if (eq step.state 'active') 'bg-blue-600 ring-2 ring-blue-300'}}
              {{if (eq step.state 'failed') 'bg-red-500'}}
              {{if (eq step.state 'future') 'bg-gray-300'}}
              "
          >
            {{#if (eq step.state "failed")}}
              <svg
                class="size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  clip-rule="evenodd"
                />
              </svg>
            {{else}}
              <svg
                class="size-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ol>
  </div>
</div>