<nav
  class="bg-white border-b border-gray-200 px-4 py-3 flex items-center justify-between"
>
  <button
    class="p-2 rounded hover:bg-gray-100"
    type="button"
    {{on "click" @onToggle}}
  >
    ☰
  </button>

  <div class="text-xl font-bold">
    <LinkTo @route="index">
      CareerCaddy
    </LinkTo>
  </div>

  {{#if this.session.isAuthenticated}}
    <LinkTo @route="index" {{on "click" this.invalidateSession}}>Logout</LinkTo>
  {{else}}
    <LinkTo @route="login" {{on "click" this.invalidateSession}}>Login</LinkTo>
  {{/if}}
  {{! Mobile Hamburger }}
</nav>

{{yield}}