<nav
  class="bg-white border-b border-gray-200 px-4 py-3 flex items-center justify-between"
>
  <button
    class="p-2 rounded hover:bg-gray-100"
    type="button"
    {{on "click" @onToggle}}
  >
    ☰
  </button>
  <div class="text-xl font-bold">
    CareerCaddy
  </div>

  {{! Desktop Links }}
  <div class="hidden md:flex gap-6">
    <LinkTo @route="index" class="hover:text-blue-600">Cover letters</LinkTo>
    <LinkTo @route="index" class="hover:text-blue-600">Jobs</LinkTo>
    <LinkTo @route="index" class="hover:text-blue-600">Stats</LinkTo>
  </div>

  {{#if this.session.isAuthenticated}}
    <LinkTo @route="index" {{on "click" this.invalidateSession}}>Logout</LinkTo>
  {{else}}
    <LinkTo @route="login" {{on "click" this.invalidateSession}}>Login</LinkTo>
  {{/if}}
  {{! Mobile Hamburger }}
</nav>

{{yield}}
