<div class="flex items-center">
  <button
    class="topbar-hamburger p-2 rounded hover:bg-gray-100"
    type="button"
    {{on "click" @onToggle}}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="size-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </button>
</div>

<div class="text-center text-xl font-bold">
  <LinkTo @route="index">CareerCaddy</LinkTo>
</div>

<div class="flex items-center justify-end">
  {{#if this.session.isAuthenticated}}
    {{#if this.currentUser.user.username}}
      <span class="text-sm text-muted">{{this.currentUser.user.username}}</span>
    {{/if}}
    <button
      class="p-2 rounded hover:bg-gray-100"
      type="button"
      title="Logout"
      {{on "click" this.invalidateSession}}
      {{on "click" this.onClose}}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6A2.25 2.25 0 005.25 5.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M18 12H9m0 0l3-3m-3 3l3 3"
        />
      </svg>
    </button>
  {{else}}
    <LinkTo
      @route="login"
      {{on "click" this.onClose}}
      class="p-2 rounded hover:bg-gray-100 text-sm font-medium"
    >Login</LinkTo>
  {{/if}}
</div>

{{yield}}