{{page-title "Summaries"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <div class="controls">
      <Menus::SubnavSearch
        @value={{this.search}}
        @onSearch={{this.updateSearch}}
        @onSearchStart={{this.startSearching}}
        @placeholder="Search summaries..."
      />
    </div>
  </:subnav>
  <:main>
    {{#if this.isSearching}}
      <div class="py-8 text-center text-sm text-gray-400">Searching…</div>
    {{else}}
      <Summaries::DetailList
        @summaries={{this.model}}
        @emptyMessage="No summaries yet."
      />
      <InfinityLoader @infinityModel={{this.model}} @hideOnInfinity={{true}}>
        <div class="py-4 text-center text-sm text-gray-400">Loading more…</div>
      </InfinityLoader>
    {{/if}}
  </:main>
</RouteLayout>