<section class="job-post-controls">
  <div>
    <label for="resume-select">Select a resume: </label>
    <PowerSelect
      @options={{@resumes}}
      @onChange={{this.updateResume}}
      @selected={{this.selectedResume}}
      as |resume|
    >
      {{or resume.name resume.title}}
    </PowerSelect>
  </div>
  {{#if this.selectedResume}}
    <div class="actions">
      <button type="button" class="btn" {{on "click" this.scoreResume}}>Score
        resume against job post</button>
      <button type="button" class="btn" {{on "click" this.createSummary}}>Create
        new resume summary</button>
      <button
        type="button"
        class="btn"
        {{on "click" this.createCoverLetter}}
      >Create cover letter</button>
      <LinkTo
        @route="job-applications.new"
        @query={{hash jobId=@jobPost.id}}
        class="btn"
      >
        Apply
      </LinkTo>
    </div>
  {{/if}}

</section>
{{yield}}
