<article class="panel-card compact">
  <h3 class="panel-title">{{@jobPost.company.name}}</h3>

    <h3>
      <LinkTo @route="job-posts.show" @model={{@jobPost}}>
        {{@jobPost.title}}
      </LinkTo>
      {{#if @jobPost.link}}
        --
        <a href="{{@jobPost.link}}">➚</a>
      {{/if}}
    </h3>
    <div class="job-dates">
      {{#if @jobPost.postedDate}}
        <span class="muted">Posted: {{moment-format @jobPost.postedDate "MMM D, YYYY"}}</span>
      {{/if}}
      {{#if @jobPost.createdAt}}
        <span class="muted">Created: {{moment-format @jobPost.createdAt "MMM D, YYYY"}}</span>
      {{/if}}
    </div>
    <LinkTo @route="job-posts.edit" class="btn" @model={{@jobPost}}>Edit</LinkTo>
</article>
