<article class="panel-card">
  <header class="job-post-header">
    <h2 class="panel-title">{{@jobPost.company.name}}</h2>

    <h2 class="job-title">
      <LinkTo @route="job-posts.show" @model={{@jobPost}}>
        {{@jobPost.title}}
      </LinkTo>
      {{#if @jobPost.link}}
        --
        <a href="{{@jobPost.link}}">external</a>
      {{/if}}
    </h2>
  </header>
  <LinkTo @route="job-posts.edit" class="btn" @model={{@jobPost}}>Edit</LinkTo>
</article>
