<Panel::Card>
  <h2 class="panel-title">{{@jobPost.company.name}}</h2>

  <h1 class="job-title">
    <LinkTo @route="job-posts.show" @model={{@jobPost}}>
      {{@jobPost.title}}
    </LinkTo>
    {{#if @jobPost.link}}
      --
      <a href="{{@jobPost.link}}">➚</a>
    {{/if}}
  </h1>

  <section class="job-post-description">
    <div class="description-controls">
      <button type="button" class="btn btn-sm" {{on "click" this.toggleDescription}}>
        {{if this.showFullDescription "Show Less" "Show All"}}
      </button>
      <button type="button" class="btn btn-sm" {{on "click" this.copyToClipboard}}>
        {{this.copyButtonText}}
      </button>
    </div>
    <p class="muted">
      {{if this.showFullDescription @jobPost.description (truncate @jobPost.description 2000)}}
    </p>
  </section>

  <section class="job-post-scores">
    <h3 class="section-title">Scores</h3>
    <p class="muted">one score per resume</p>
    <ul class="desc-list">
      {{#each @jobPost.scores as |score|}}
        <li class="desc-item">
          <span class="muted">Resume</span>
          {{score.resume.name}}
          —
          <span class="muted">Score:</span>
          <LinkTo @route="scores.show" @model={{score}}>{{or
              score.score
              "thinking"
            }}</LinkTo>
        </li>
      {{/each}}
    </ul>
  </section>

  {{#if @showControls}}
    <JobPosts::Actions @jobPost={{@jobPost}} @resumes={{@resumes}} />
  {{/if}}
</Panel::Card>
