<form class="builder-form">
  {{#if this.errorMessage}}<p class="error">{{this.errorMessage}}</p>{{/if}}

  <label class="field">Institution
    <input type="text" value={{this.education.institution}} {{on "input" (fn this.updateField "institution")}} />
  </label>
  <label class="field">Degree
    <input type="text" value={{this.education.degree}} {{on "input" (fn this.updateField "degree")}} />
  </label>
  <label class="field">Major
    <input type="text" value={{this.education.major}} {{on "input" (fn this.updateField "major")}} />
  </label>
  <label class="field">Minor
    <input type="text" value={{this.education.minor}} {{on "input" (fn this.updateField "minor")}} />
  </label>
  <label class="field">Issue Date
    <input type="date" value={{this.formattedIssueDate}} {{on "input" (fn this.updateField "issueDate")}} />
  </label>
</form>
