{{page-title "New Application"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button type="button" class="btn" {{on "click" this.save}}>Save</button>
    <button type="button" class="btn" {{on "click" this.cancel}}>Cancel</button>
  </:subnav>
  <:main>
    <JobApplications::Edit
      @jobApplication={{this.jobApplication}}
      @resumes={{this.resumes}}
    />
  </:main>
</RouteLayout>
