<article class="resume-section experience">
  <header class="job-header">
    <div class="job-title">{{this.experience.title}}</div>
    <div class="job-meta">
      <span class="company">{{this.companyName}}</span>
      <span aria-hidden="true" class="dot">•</span>
      <span class="dates">{{this.dateRange}}</span>
    </div>
  </header>

  {{#if this.orderedDescriptions.length}}
    <ul class="desc-list">
      {{#each this.orderedDescriptions as |d|}}
        <li class="desc-item">{{d.content}}</li>
      {{/each}}
    </ul>
  {{else if this.experience.content}}
    <div class="rich-text">{{{this.experience.content}}}</div>
  {{/if}}

  <div class="actions">
    <button type="button" class="btn btn-link" {{on "click" this.edit}}>Edit</button>
    <button type="button" class="btn btn-link danger" {{on "click" this.delete}}>Delete</button>
  </div>
</article>
