{{yield}}
<div class="experience">
    {{@experience.title}}//{{@experience.company.name}}; {{@experience.location}}
    {{format-date @experience.startDate 'MM.YYYY'}} - {{format-date @experience.endDate 'MM.YYYY'}}
    <pre>
    {{#each @experience.descriptions as |desc|}}
        <Description @description={{desc}}/>
    {{/each}}
    </pre>
</div>
