<Panel::Card>
  <div class="summary-header">
    <span class="muted">Job:</span>
    <LinkTo @route="job-posts.show" @model={{@summary.jobPost}}>
      {{@summary.jobPost.title}}
    </LinkTo>

    {{#if @summary.resume}}
      <span class="muted">Resume:</span>
      <LinkTo @route="resumes.show" @model={{@summary.resume}}>
        {{#if @summary.resume.name}}
          {{@summary.resume.name}}
        {{else}}
          {{@summary.resume.title}}
        {{/if}}
      </LinkTo>
    {{/if}}
  </div>

  {{#if @summary.content}}
    <div class="summary-content-wrapper">
      <p class="summary-content">
        {{@summary.content}}
      </p>
      <button type="button" class="btn btn-sm btn-outline-secondary" {{on "click" this.copyToClipboard}}>
        {{this.copyButtonText}}
      </button>
    </div>
  {{else}}
    <p class="summary-content">
      <span class="loader"></span>
    </p>
  {{/if}}
</Panel::Card>
{{yield}}
