<Panel::Card>
  <div class="summary-header">
    {{#if @summary.jobPost}}
      <span class="muted">Job:</span>
      <LinkTo @route="job-posts.show" @model={{@summary.jobPost}}>
        {{@summary.jobPost.title}}
      </LinkTo>
    {{/if}}

    {{#if @summary.resume}}
      <span class="muted">Resume:</span>
      <LinkTo @route="resumes.show" @model={{@summary.resume}}>
        {{or @summary.resume.name @summary.resume.title}}
      </LinkTo>
    {{/if}}
  </div>

  {{#if @summary.content}}
    <div class="summary-content-wrapper">
      <p class="summary-content">
        {{@summary.content}}
      </p>
      <button
        type="button"
        class="btn small"
        {{on "click" this.copyToClipboard}}
      >
        {{this.copyButtonText}}
      </button>
    </div>
  {{else}}
    <p class="summary-content">
      <span class="loader"></span>
    </p>
  {{/if}}
</Panel::Card>
{{yield}}