{{page-title "Questions"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <div class="controls">
      <Menus::SubnavSearch
        @value={{this.search}}
        @onSearch={{this.updateSearch}}
        @onSearchStart={{this.startSearching}}
        @placeholder="Search questions..."
      />
      <LinkTo @route="questions.new" class="btn">+ New Question</LinkTo>
    </div>
  </:subnav>
  <:main>
    {{#if this.isSearching}}
      <div class="py-8 text-center text-sm text-gray-400">Searching…</div>
    {{else}}
      <Questions::List
        @questions={{this.model}}
        @showRoute="questions.show"
        @editRoute="questions.edit"
        @answerRoute="questions.show.answers.new"
      />
      <InfinityLoader @infinityModel={{this.model}} @hideOnInfinity={{true}}>
        <div class="py-4 text-center text-sm text-gray-400">Loading more…</div>
      </InfinityLoader>
    {{/if}}
  </:main>
</RouteLayout>