{{page-title "Show"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button type="button" class="btn" {{on "click" this.deleteQuestion}}>Delete</button>
    <LinkTo class="btn" @route="questions.new">New Question</LinkTo>
    <LinkTo class="btn" @route="questions.edit" @model={{this.model}}>edit</LinkTo>
    <LinkTo class="btn" @route="questions.show.answers.new" @model={{this.model}}>manually answer</LinkTo>
    <LinkTo class="btn" @route="questions.show.answers" @model={{this.model}}>answers</LinkTo>
  </:subnav>
  <:main>
    <Questions::Item @question={{this.model}} @askAI={{this.askAI}} />
  </:main>
  <:outlet>
    {{outlet}}
  </:outlet>
</RouteLayout>
