{{page-title "Show"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    question
  </:subnav>
  <:main>
    <Questions::Item @question={{this.model}} @askAI={{this.askAI}} />
    <div class="flex flex-wrap gap-2 mt-3 mb-4">
      <LinkTo
        class="btn small"
        @route="questions.show.answers.new"
        @model={{this.model}}
      >Answer</LinkTo>
      <LinkTo
        class="btn small"
        @route="questions.show.answers"
        @model={{this.model}}
      >Show Answers</LinkTo>
      <LinkTo
        class="btn small"
        @route="questions.edit"
        @model={{this.model}}
      >Edit</LinkTo>
      <button
        type="button"
        class="btn small"
        {{on "click" this.newQuestion}}
      >New Question</button>
      <button
        type="button"
        class="btn small danger"
        {{on "click" this.deleteQuestion}}
      >Delete</button>
    </div>
    {{outlet}}
  </:main>
</RouteLayout>