{{page-title "Index"}}
<Menus::SubnavBar>
  <LinkTo
    class='nav-link'
    @route='questions.new'
  >new
  </LinkTo>
  <LinkTo
    class='nav-link'
    @route='questions.edit'
    @model={{this.model}}
  >edit
  </LinkTo>
  <LinkTo
    class='nav-link'
    @route='questions.show.answers.new'
    @model={{this.model}}
  >answer
  </LinkTo>
  <LinkTo @route="questions.delete" @model={{this.model}}
          class='danger nav-link'
          {{on "click" this.deleteQuestion}}
  >delete
  </LinkTo>
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<Panel::Card>
  <h3>answers</h3>
</Panel::Card>
{{#each this.model as |answer|}}
  <Panel::Card>
    <MarkdownToHtml @markdown={{answer.content}}/>
    <LinkTo @route='answers.edit' @model={{answer}}>edit</LinkTo>
  </Panel::Card>
{{/each}}

{{outlet}}
