<div class="career-data-container">
  {{page-title "Supporting Career Data"}}

  {{#if @model.data}}
    <button
      type="button"
      class="rounded-l-sm border border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50"
      style="float:right"
      {{on "click" (fn this.copyToClipboard @model.data)}}
    >
      {{this.copyButtonText}}
    </button>
    <div class="markdown-content">
      <MarkdownToHtml @markdown={{@model.data}} />
    </div>
  {{else}}
    <p>No career data available.</p>
  {{/if}}
</div>