{{page-title "Supporting Career Data"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button
      type="button"
      class="btn"
      {{on "click" (fn this.copyToClipboard @model.data)}}
    >
      {{this.copyButtonText}}
    </button>
  </:subnav>
  <:main>
    {{#if @model.data}}
      <CareerData::SectionedView @markdown={{@model.data}} />
    {{else}}
      <p class="text-gray-500 text-sm">No career data available.</p>
    {{/if}}
  </:main>
</RouteLayout>