{{page-title "Edit Resume"}}
<RouteLayout @flashMessages={{this.flashMessages}} @mainClass="builder-page">
  <:subnav>
    <div class="controls">
      {{#if this.isDirty}}
        <button
          type="button"
          class="btn"
          {{on "click" this.saveResume}}
        >Save</button>
      {{/if}}
      <LinkTo
        @route="resumes.show"
        @model={{this.model}}
        class="btn"
      >Preview</LinkTo>
      <button
        type="button"
        class="btn"
        {{on "click" this.cloneResume}}
      >Clone</button>
      <button
        type="button"
        class="btn"
        {{on "click" this.exportToWord}}
      >Export</button>
      <button
        type="button"
        class="btn danger"
        {{on "click" this.deleteResume}}
      >Delete</button>
    </div>
  </:subnav>
  <:main>
    <div class="builder-layout">
      <aside class="editor-panel">
        <Panel::Card @title="Title" @collapsible={{false}}>
          <Resumes::Title::Form @title="Title" @resume={{this.model}} />
        </Panel::Card>
        <Panel::Card @title="Personal Information" @collapsible={{true}}>
          <PersonalInformation::Form @user={{this.model.user}} />
        </Panel::Card>
        <Panel::Card @title="Summary" @collapsible={{true}}>
          <Summaries::Carousel
            @summaries={{this.resumeSummaries}}
            @resume={{this.model}}
          />
        </Panel::Card>
        <Panel::Card @title="Skills" @collapsible={{true}}>
          <Skills::Form @skills={{this.model.skills}} @resume={{this.model}} />
        </Panel::Card>
        <Panel::Card @title="Experience" @collapsible={{true}}>
          <:top as |panel|>
            <Panel::Navigation
              @collapsible={{true}}
              @collapsed={{panel.collapsed}}
              @toggleCollapsed={{panel.toggleCollapsed}}
            >
              <button
                type="button"
                class="btn small"
                {{on "click" this.addExperience}}
              >+ Add Experience</button>
            </Panel::Navigation>
          </:top>
          <:default>
            <Experiences::List @experiences={{this.model.experiences}} />
          </:default>
        </Panel::Card>
        <Panel::Card
          @title="Projects"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <:top as |panel|>
            <Panel::Navigation
              @collapsible={{true}}
              @collapsed={{panel.collapsed}}
              @toggleCollapsed={{panel.toggleCollapsed}}
            >
              <button
                type="button"
                class="btn small"
                {{on "click" this.addProject}}
              >+ Add Project</button>
            </Panel::Navigation>
          </:top>
          <:default>
            {{#each this.model.projects as |proj|}}
              <Projects::Form @project={{proj}} />
            {{/each}}
          </:default>
        </Panel::Card>
        <Panel::Card
          @title="Certifications"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <:top as |panel|>
            <Panel::Navigation
              @collapsible={{true}}
              @collapsed={{panel.collapsed}}
              @toggleCollapsed={{panel.toggleCollapsed}}
            >
              <button
                type="button"
                class="btn small"
                {{on "click" this.addCertification}}
              >+ Add Certification</button>
            </Panel::Navigation>
          </:top>
          <:default>
            {{#each this.model.certifications as |cert|}}
              <Certifications::Form @certification={{cert}} />
            {{/each}}
          </:default>
        </Panel::Card>
        <Panel::Card
          @title="Education"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <:top as |panel|>
            <Panel::Navigation
              @collapsible={{true}}
              @collapsed={{panel.collapsed}}
              @toggleCollapsed={{panel.toggleCollapsed}}
            >
              <button
                type="button"
                class="btn small"
                {{on "click" this.addEducation}}
              >+ Add Education</button>
            </Panel::Navigation>
          </:top>
          <:default>
            {{#each this.model.educations as |edu|}}
              <Educations::Form @education={{edu}} />
            {{/each}}
          </:default>
        </Panel::Card>
      </aside>
      <main class="preview-panel">
        <div class="resume-preview">
          <Resumes::Item @resume={{this.model}} />
        </div>
      </main>
    </div>
  </:main>
</RouteLayout>