<Menus::SubnavBar>

  <LinkTo @route="resumes.import" class='btn'>Import resume</LinkTo>

  <br/>
</Menus::SubnavBar>
<div class="bar-cart">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
<div class="fairway">
  {{#if this.noResumes}}
    <p>no resumes <LinkTo @route='resumes.import'>import</LinkTo> one to start.</p>
  {{else}}
    {{#if this.model}}
        {{#each this.model as |resume|}}
            <div class="resume-item">
              <button 
                type="button" 
                class="favorite-btn {{if resume.favorite 'favorited'}}"
                {{on "click" (fn this.toggleFavorite resume)}}
                title="{{if resume.favorite 'Remove from favorites' 'Add to favorites'}}"
              >
                {{#if resume.favorite}}★{{else}}☆{{/if}}
              </button>
              <Resumes::Compact @resume={{resume}}/>
            </div>
        {{/each}}
    {{else}}
      loading...
    {{/if}}
  {{/if}}
</div>
