{{page-title "New Resume"}}
<RouteLayout @flashMessages={{this.flashMessages}} @mainClass="builder-page">
  <:main>
    <div class="builder-layout">
      <aside class="editor-panel">
        <Panel::Card @title="Job Title" @collapsible={{false}}>
          <Resumes::Title::Form @resume={{this.model}} />
        </Panel::Card>
        <Panel::Card @title="Personal Information" @collapsible={{true}}>
          <PersonalInformation::Form @user={{this.model.user}} />
        </Panel::Card>
        <Panel::Card
          @title="Summary"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <Summary::Form @summary={{this.model.summary}} />
        </Panel::Card>
        <Panel::Card
          @title="Skills"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <Skills::Form @skills={{this.model.skills}} @resume={{this.model}} />
        </Panel::Card>
        <Panel::Card @title="Experience" @collapsible={{true}}>
          <:top as |panel|>
            <Panel::Navigation
              @collapsible={{true}}
              @collapsed={{panel.collapsed}}
              @toggleCollapsed={{panel.toggleCollapsed}}
            >
              <button
                type="button"
                class="btn small"
                {{on "click" this.addExperience}}
              >+ Add Experience</button>
            </Panel::Navigation>
          </:top>
          <:default>
            <Experiences::List @experiences={{this.model.experiences}} />
          </:default>
        </Panel::Card>
        <Panel::Card
          @title="Certifications"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <:top as |panel|>
            <Panel::Navigation
              @collapsible={{true}}
              @collapsed={{panel.collapsed}}
              @toggleCollapsed={{panel.toggleCollapsed}}
            >
              <button
                type="button"
                class="btn small"
                {{on "click" this.addCertification}}
              >+ Add Certification</button>
            </Panel::Navigation>
          </:top>
          <:default>
            {{#each this.model.certifications as |cert|}}
              <Certifications::Form @certification={{cert}} />
            {{/each}}
          </:default>
        </Panel::Card>
        <Panel::Card
          @title="Education"
          @collapsible={{true}}
          @startCollapsed={{true}}
        >
          <Educations::Form @education={{this.model.education}} />
        </Panel::Card>
      </aside>
      <main class="preview-panel">
        <div class="resume-preview">
          <Resumes::Item @resume={{this.model}} />
        </div>
      </main>
    </div>
  </:main>
</RouteLayout>