<div class="builder-page">
  <Menus::SubnavBar>
    <div class="submenu-buttons">
      {{#if this.isDirty}}
        <button type="button" class="btn" {{on "click" this.saveResume}}>
          Save
        </button>
      {{/if}}
      <LinkTo @route="resumes.edit" @model={{this.model}} class="btn">Edit</LinkTo>
      <button
        type="button"
        class="btn danger"
        {{on "click" this.deleteResume}}
      >
        Delete
      </button>
      <button type="button" class="btn" {{on "click" this.cloneResume}}>
        Clone Resume
      </button>
      <LinkTo @route='resumes.import' class="btn">Import new resume</LinkTo>
      <button
        type="button"
        class="btn"
        {{on "click" this.exportToWord}}
      >Export to Word</button>
    </div>
  </Menus::SubnavBar>

  <div class="container">
    <div class="builder-layout">
      <main class="preview-panel">

        <p><h3>name</h3>{{this.model.name}}</p>
        <p><h3>notes</h3>{{this.model.notes}}</p>
        <div class="resume-preview">
          <Resumes::Item @resume={{this.model}} />
        </div>
      </main>
    </div>
  </div>
</div>
