<div class="builder-page">
  <div class="container">
    <div class="builder-layout">
      <main class="preview-panel">
        <div class="preview-actions">
          <div class="score muted">Resume Score: 0%</div>
          {{#if this.isDirty}}
            <button type="button" class="btn" {{on "click" this.saveResume}}>
              Save
            </button>
          {{/if}}
          <button type="button" class="btn" >
              <LinkTo @route="resumes.edit" @model={{this.model}}>Edit</LinkTo>
          </button>
          <button type="button" class="btn danger" {{on "click" this.deleteResume}}>
            Delete
          </button>
          <button type="button" class="btn" {{on "click" this.cloneResume}}>
            Clone Resume
          </button>
          <button type="button" class="btn" {{on "click" this.exportToWord}}>Export to Word</button>
        </div>

        <div class="resume-preview">
            <Resumes::Item @resume={{this.model}} />
        </div>
      </main>
    </div>
  </div>
</div>
