{{yield}}
<h2>
  Job post:
  <LinkTo
    @route="job-posts.show"
    @model={{@score.jobPost}}
  >{{@score.jobPost.title}}</LinkTo>
</h2>
<h2>
  At <LinkTo @route="companies.show" @model={{@score.jobPost.company}}>{{@score.jobPost.company.name}}</LinkTo>
</h2>
<h2>
  Resume scored:
  <LinkTo
    @route="resumes.show"
    @model={{@score.resume}}
  >{{@score.resume.name}}</LinkTo>
</h2>
<h2>
  score: {{@score.score}}
</h2>
<pre>
  {{@score.explanation}}
</pre>
