<JobPosts::Controls
  @query={{this.query}}
  @compact={{this.compact}}
  @onFilterChange={{this.onFilterChange}}
  @onCompactToggle={{this.onCompactToggle}}
  @showLoading={{this.showLoading}} // not implemented
/>
<div class='fairway'>
  <JobPosts::List
    @jobPosts={{this.model}}
    @query={{this.query}}
    @compact={{this.compact}}
    @showLoading={{this.showLoading}}
  />
</div>
