{{page-title "Job Posts"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <div class="controls">
      <Menus::SubnavSearch
        @value={{this.search}}
        @onSearch={{this.updateSearch}}
        @onSearchStart={{this.startSearching}}
        @placeholder="Search job posts..."
      />
      <JobPosts::FiltersMenu
        @filters={{this.filterState}}
        @onChange={{this.applyFilters}}
      />
      <LinkTo @route="job-posts.new" class="btn">+ New Job Post</LinkTo>
    </div>
  </:subnav>
  <:main>
    {{#if
      (or
        this.hostname
        this.stub
        this.source
        this.scored
        this.bucket
        this.excludeVettedBad
      )
    }}
      <div class="mb-3 flex flex-wrap items-center gap-2 text-sm">
        <span class="text-gray-500 dark:text-gray-400">Filters:</span>
        {{#if this.hostname}}
          <FilterPill
            @prefix="hostname"
            @label={{this.hostname}}
            @onClear={{this.clearHostname}}
            @clearAriaLabel="Clear hostname filter"
          />
        {{/if}}
        {{#if this.stub}}
          <FilterPill
            @label={{if (eq this.stub "true") "stubs only" "hide stubs"}}
            @onClear={{this.clearStub}}
            @clearAriaLabel="Clear stub filter"
          />
        {{/if}}
        {{#if this.bucket}}
          <FilterPill
            @prefix="bucket"
            @label={{this.bucket}}
            @onClear={{this.clearBucket}}
            @clearAriaLabel="Clear bucket filter"
          />
        {{/if}}
        {{#if this.scored}}
          <FilterPill
            @label={{if (eq this.scored "true") "scored" "unscored"}}
            @onClear={{this.clearScored}}
            @clearAriaLabel="Clear scored filter"
          />
        {{/if}}
        {{#if this.source}}
          <FilterPill
            @prefix="source"
            @label={{this.source}}
            @onClear={{this.clearSource}}
            @clearAriaLabel="Clear source filter"
          />
        {{/if}}
        {{#if this.excludeVettedBad}}
          <FilterPill
            @label="hide vetted bad"
            @onClear={{this.clearExcludeVettedBad}}
            @clearAriaLabel="Clear vetted-bad filter"
          />
        {{/if}}
      </div>
    {{/if}}
    {{#if this.isSearching}}
      <div class="py-8 text-center text-sm text-gray-400">Searching…</div>
    {{else}}
      <JobPosts::List @jobPosts={{this.model}} />
      <InfinityLoader @infinityModel={{this.model}} @hideOnInfinity={{true}}>
        <div class="py-4 text-center text-sm text-gray-400">Loading more…</div>
      </InfinityLoader>
    {{/if}}
  </:main>
</RouteLayout>