<Menus::SubnavBar>
  <LinkTo
    class="nav-link"
    @route="job-posts.edit"
    @model={{this.model}}
  >Edit</LinkTo>
  <button
    class="nav-link btn btn-link"
    type="button"
    {{on "click" this.createQuestionWithApplication}}
  >
    New question
  </button>
  <LinkTo
    class="nav-link"
    @route="job-posts.show.job-applications.index"
    @model={{this.model}}
  >
    Applications
  </LinkTo>

</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}} />
<div class="fairway">
  <JobPosts::Item
    @showControls={{this.showControls}}
    @jobPost={{this.model}}
    @showLoading={{this.showLoading}}
    @resumeSetter={{this.resumeSetter}}
    @resume={{this.model.resume}}
    @resumes={{this.resumes}}
  />
  {{outlet}}
</div>
