<form class="builder-form">
  <label class="field">
    <span class="field-label">Name</span>
    <input type="text" name="name" value={{@user.name}} {{on "input" this.updateName}} />
  </label>

  <label class="field">
    <span class="field-label">Phone</span>
    <input type="tel" name="phone" value={{@user.phone}} {{on "input" this.updatePhone}} />
  </label>

  <label class="field">
    <span class="field-label">Email</span>
    <input type="email" name="email" value={{@user.email}} {{on "input" this.updateEmail}}/>
  </label>

  {{yield}}
</form>
