{{page-title "Edit"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    edit application
  </:subnav>
  <:main>
    <JobApplications::Edit
      @jobApplication={{this.model}}
      @save={{this.save}}
      @cancel={{this.cancel}}
    />
    <div class="panel-card mt-4">
      <JobApplications::StatusLog
        @jobApplication={{this.model}}
      />
    </div>
  </:main>
</RouteLayout>