{{page-title "Edit"}}
<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button {{on "click" this.save}} class="btn" type="button">save</button>
    <button class="btn" type="button">cancel</button>
  </:subnav>
  <:main>
    <JobApplications::Edit
      @jobApplication={{this.model.jobApplication}}
      @resumes={{this.model.resumes}}
      @coverLetters={{this.model.coverLetters}}
    />
  </:main>
</RouteLayout>
