{{page-title 'New Application'}}

<Menus::SubnavBar>
  <button {{on 'click' this.honk}}>honk</button>

  <span class='loader'></span>
</Menus::SubnavBar>
<div class="container">
  <JobApplications::New
    @jobApplication={{this.model}}
    @jobPosts={{this.jobPosts}}
    @resumes={{this.resumes}}
    @coverLetters={{this.coverLetters}}
  />
</div>
{{outlet}}
