{{page-title 'New Application'}}

<div class="container">
  <JobApplications::New
    @jobApplication={{this.model}}
    @jobPosts={{this.jobPosts}}
    @resumes={{this.resumes}}
    @coverLetters={{this.coverLetters}}
  />
</div>
