{{page-title 'New Application'}}
<Menus::SubnavBar>
  <button type="button" {{on 'click' this.honk}}>honk</button>

  <br/>
  <span class='loader'></span>
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class="fairway">
  <div class="builder-form">
    <div class="field">
      <label class="field-label" >Job post:</label>
      <PowerSelect
        @options={{this.jobPosts}}
        @onChange={{fn (mut this.selectedJobPost)}}
        @selected={{this.selectedJobPost}}
        as |jobPost|
      >
        {{jobPost.title}} at {{jobPost.company.name}}
      </PowerSelect>
    </div>

    <div class="field">
      <label class="field-label" >Resume to use:</label>
      <PowerSelect
        @options={{this.resumes}}
        @onChange={{this.updateResume}}
        @selected={{this.selectedResume}}
        as |resume|
      >
        {{resume.title}}
      </PowerSelect>
    </div>

    <div class="field">
      <label class="field-label" >Cover letter:</label>
      <PowerSelect
        @options={{this.coverLetters}}
        @onChange={{this.updateCoverLetter}}
        @selected={{this.selectedCoverLetter}}
        as |coverLetter|
      >
        {{coverLetter}}
      </PowerSelect>
    </div>

    <div class="field">
      <label class="field-label" >Status</label>
      <PowerSelect
        @options={{this.statusOptions}}
        @onChange={{this.updateStatus}}
        @selected={{@jobApplication.status}}
        as |status|
      >
        {{status}}
      </PowerSelect>
    </div>
    {{#if this.showAppliedAt}}
      <div class="field">
        <label class="field-label" >Applied At</label>
        <input
          type="date"
          value={{format-date this.model.appliedAt}}
          {{on "change" (fn this.updateField "appliedAt")}}
        />
      </div>
    {{/if}}

    <div class="field">
      <label class="field-label" >Tracking URL</label>
      <input
        type="url"
        value={{this.model.trackingUrl}}
        {{on "input" (fn this.updateField "trackingUrl")}}
      />
    </div>

    <div class="field">
      <label class="field-label" >Notes</label>

      <textarea
        value={{this.model.notes}}
        {{on "input" (fn this.updateField "notes")}}
      ></textarea>
    </div>

    <div class="form-actions">
      {{yield}}
    </div>
    <button
      type="button"
      class="btn"
      disabled={{this.invalid}}
      {{on "click" this.saveApplication}}
    >Save</button>
  </div>
</div>
{{outlet}}
