{{yield}}
<Panel::Card>
job application for {{@jobApplication.jobPost.title}} at {{@jobApplication.jobPost.company.name}}
  <LinkTo @route='job-applications.show' @model={{@jobApplication}}>show</LinkTo>
  <LinkTo @route='job-applications.edit' @model={{@jobApplication}}>edit</LinkTo>
  <a href="#" {{on 'click' this.delete}}>delete</a>
</Panel::Card>
