<div class="builder-form">
  <div class="field">
    <label class="field-label" for={{this.jobPostInputId}}>Job Post</label>
    <input
      type="text"
      id={{this.jobPostInputId}}
      value={{this.jobPostAtCompany}}
      disabled="true"
    />
  </div>

  <div class="field">
    <label class="field-label" for={{this.resumeSelectId}}>Resume</label>
    <select id={{this.resumeSelectId}} {{on "change" this.updateResume}}>
      <option value="" selected="selected">
        {{this.jobApplication.resume.name}}
      </option>
      {{#each this.resumeOptions as |resume|}}
        <option value={{resume.id}}>
          {{resume.name}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="field">
    <label class="field-label" for={{this.coverLetterSelectId}}>Cover Letter</label>
    <select
      id={{this.coverLetterSelectId}}
      {{on "change" this.updateCoverLetter}}
    >
      {{#each this.coverLetterOptions as |coverLetter|}}
        <option value={{coverLetter.id}}>
          cover letter for {{coverLetter.jobPost.title}}
          -
          {{format-date coverLetter.createdAt}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="field">
    <label class="field-label" for={{this.appliedAtInputId}}>Applied At</label>
    <input
      type="date"
      id={{this.appliedAtInputId}}
      value={{format-date @jobApplication.appliedAt}}
      {{on "change" (fn this.updateField "appliedAt")}}
    />
  </div>

  <div class="field">
    <label class="field-label" for={{this.statusSelectId}}>Status</label>
    <select
      id={{this.statusSelectId}}
      {{on "change" (fn this.updateField "status")}}
    >
      <option value="">{{@jobApplication.status}}</option>
      {{#each this.statusOptions as |status|}}
        <option value={{status}}>
          {{status}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="field">
    <label class="field-label" for={{this.trackingUrlInputId}}>Tracking URL</label>
    <input
      type="url"
      id={{this.trackingUrlInputId}}
      value={{@jobApplication.trackingUrl}}
      {{on "input" (fn this.updateField "trackingUrl")}}
    />
  </div>

  <div class="field">
    <label class="field-label" for={{this.notesTextareaId}}>Notes</label>

    <textarea
      id={{this.notesTextareaId}}
      value={{@jobApplication.notes}}
      {{on "input" (fn this.updateField "notes")}}
    ></textarea>
  </div>

  <div class="form-actions">
    {{yield}}
  </div>
  <button
    type="button"
    class="btn"
    {{on "click" this.saveApplication}}
  >Save</button>
</div>
