{{yield}}
<div class="builder-form">
  <div class="field">
    <label class="field-label" >Job post:</label>
    <select value={{@jobApplication.jobPost.id}} {{on "change" this.updateJobPost}}>
      <option value="">Select a job post…</option>
      {{#each @jobPosts as |jobPost|}}
        <option value={{jobPost.id}}>{{jobPost.title}} at {{jobPost.company.name}}</option>
      {{/each}}
    </select>
    {{#if this.errorMessage}}
      <div class="error-message">{{this.errorMessage}}</div>
    {{/if}}
  </div>

  <div class="field">
    <label class="field-label" >Resume to use:</label>
    <select value={{@jobApplication.resume.id}} {{on "change" this.updateResume}}>
      {{#each @resumes as |resume|}}
        <option value={{resume.id}}>
          {{resume.name}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="field">
    <label class="field-label" >Cover Letter</label>
    <select value={{@jobApplication.coverLetter.id}} {{on "change" this.updateCoverLetter}} >
      {{#each @coverLetters as |coverLetter|}}
        <option value={{coverLetter.id}}>
          cover letter {{coverLetter.id}} - written on {{format-date coverLetter.createdAt}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="field">
    <label class="field-label" >Status</label>
    <select
      value={{@jobApplication.status}}
      {{on "change" this.updateStatus}}
    >
      {{#each this.statusOptions as |status|}}
        <option value={{status}}>
          {{status}}
        </option>
      {{/each}}
    </select>
  </div>
  {{#if this.showAppliedAt}}
    <div class="field">
      <label class="field-label" >Applied At</label>
      <input
        type="date"
        value={{format-date @jobApplication.appliedAt}}
        {{on "change" (fn this.updateField "appliedAt")}}
      />
    </div>
  {{/if}}

  <div class="field">
    <label class="field-label" >Tracking URL</label>
    <input
      type="url"
      value={{@jobApplication.trackingUrl}}
      {{on "input" (fn this.updateField "trackingUrl")}}
    />
  </div>

  <div class="field">
    <label class="field-label" >Notes</label>

    <textarea
      id={{this.notesTextareaId}}
      value={{@jobApplication.notes}}
      {{on "input" (fn this.updateField "notes")}}
    ></textarea>
  </div>

  <div class="form-actions">
    {{yield}}
  </div>
  <button
    type="button"
    class="btn"
    disabled={{not this.canSave}}
    {{on "click" this.saveApplication}}
  >Save</button>
</div>
