{{yield}}
<li class="desc-item">
  {{#if this.isEditing}}
    <textarea
      class="desc-edit"
      style="width: 100%; resize: none;"
      value={{@description.content}}
        {{on "input" this.onInput}}
        {{on "keydown" this.handleDescriptionKeydown}}
        {{on "blur" this.commitDescription}}
    ></textarea>
  {{else}}
    <button
      type="button"
      class="icon-button edit"
      aria-label="Edit description"
      {{on "click" this.startEditDescription}}
    >
      ✎
    </button>
    <span class="desc-text" >
      {{@description.content}}
    </span>
  {{/if}}

  {{yield}}
</li>
