{{yield}}
<form>
  {{#if this.isEditing}}
    <li class="desc-item">

      <label class="field">
        <textarea
          class="desc-edit"
          value={{@description.content}}
          {{on "input" this.onInput}}
          {{on "keydown" this.handleDescriptionKeydown}}
          {{on "blur" this.commitDescription}}
        ></textarea>
      </label>
      <div class="actions">
        <button type="button">saves</button>
      </div>
    </li>
  {{else}}
    <li class="desc-item">
      <label class="field">
        <input type="text" value={{@description.content}} />
      </label>
      <div class="actions">
        <button
          type="button"
          class="btn btn-link"
          {{on "click" this.startEditDescription}}
        >✎</button>
        <button
          type="button"
          class="btn btn-link danger"
          aria-label="Delete description"
          title="Delete"
          {{on "click" this.removeDescription}}
        >
          🗑
        </button>
      </div>
    </li>

  {{/if}}
</form>