<form class="builder-form">
  <div class="personal-info-inline">
    <label class="field">
      <span class="field-label">Job Title</span>
      <input
        type="text"
        name="Title"
        value={{@resume.title}}
        {{on "input" this.updateTitle}}
      />
    </label>
    <label class="field">
      <span class="field-label">Internal Resume Name</span>
      <input
        type="text"
        name="Title"
        value={{@resume.name}}
        {{on "input" this.updateName}}
      />
    </label>
  </div>
  <label class="field">
    <span class="field-label">Resume Notes</span>
    <textarea
      name="Title"
      rows="2"
      value={{@resume.notes}}
      {{on "input" this.updateNotes}}
    ></textarea>
  </label>
</form>
{{yield}}
