<form class="builder-form">
  <div class="field-row">
    <label class="field">
      <span class="field-label">Job Title</span>
      <input
        type="text"
        name="title"
        value={{this.title}}
        {{on "input" this.updateTitle}}
      />
    </label>
    <label class="field">
      <span class="field-label">Internal Resume Name</span>
      <input
        type="text"
        name="name"
        value={{this.name}}
        {{on "input" this.updateName}}
      />
    </label>
  </div>
  <label class="field">
    <span class="field-label">Resume Notes</span>
    <textarea
      name="notes"
      rows="2"
      value={{this.notes}}
      {{on "input" this.updateNotes}}
    ></textarea>
  </label>
</form>
{{yield}}
