<div class="space-y-6">
  {{#each @answers as |answer|}}
    {{#if answer.id}}
      <Answers::Show
        @answer={{answer}}
        @editRoute={{@editRoute}}
        @showQuestion={{@showQuestion}}
        @onDelete={{@onDelete}}
      />
    {{/if}}
  {{else}}
    <EmptyState @message={{or @emptyMessage "No answers found."}} />
  {{/each}}
</div>