<form class="builder-form">
  <label>
    <div class="field">
      Answer to question:
      {{!content.content because content is reserved word}}
      {{@answer.question.content.content}}
      <textarea
        {{on "change" this.updateContent}}
      >{{@answer.content}}</textarea>

      <button
        type="button"
        class="favorite-btn {{if @answer.favorite 'favorited'}}"
        {{on "click" (fn this.toggleFavorite @answer)}}
        title="{{if
          @answer.favorite
          'Remove from favorites'
          'Add to favorites'
        }}"
      >
        {{#if @answer.favorite}}★{{else}}☆{{/if}}
      </button>
    </div>
  </label>

  <button {{on "click" this.save}} type="submit" class="btn">save</button>
</form>
{{yield}}