<form class="builder-form" >
  <label>
    <div class="field">
      Answer to question:
      {{!content.content because content is reserved word}}
      {{@answer.question.content.content}}
      <textarea {{on "change" this.updateContent}}>{{@answer.content}}</textarea>
    </div>
  </label>

  <button {{on 'click' this.save}} type='submit' class='btn'>save</button>
</form>
{{yield}}
