<form class="builder-form">
  {{#if this.errorMessage}}<p class="error">{{this.errorMessage}}</p>{{/if}}
  <div class="field">
    <label class="field-label">Issuer</label>
    <input
      type="text"
      value={{@certification.issuer}}
      {{on "input" (fn this.updateField "issuer")}}
    />
  </div>
  <div class="field">
    <label class="field-label">Title</label>
    <input
      type="text"
      value={{@certification.title}}
      {{on "input" (fn this.updateField "title")}}
    />
  </div>
  <div class="field">
    <label class="field-label">Issue Date</label>
    <input
      type="date"
      value={{this.formattedIssueDate}}
      {{on "input" (fn this.updateField "issueDate")}}
    />
  </div>
  <div class="field">
    <label class="field-label">Content</label>
    <textarea
      class="certification-content-textarea"
      value={{@certification.content}}
      {{on "input" (fn this.updateField "content")}}
    ></textarea>
  </div>
</form>
