<form class="builder-form">
  {{#if this.errorMessage}}<p class="error">{{this.errorMessage}}</p>{{/if}}
  <input type="hidden" name="resume_id" value={{@experience.resumeId}} />
  <label class="field">Company <input type="text" value={{@experience.company.name}} disabled /></label>
  <label class="field">Title <input type="text" value={{@experience.title}} {{on "input" (fn this.updateField "title")}} /></label>
  <label class="field">Location <input type="text" value={{@experience.location}} {{on "input" (fn this.updateField "location")}} /></label>
  <label class="field">Start Date <input type="date" value={{@formattedStartDate}} {{on "input" (fn this.updateField "startDate")}} /></label>
  <label class="field">End Date <input type="date" value={{@formattedEndDate}} {{on "input" (fn this.updateField "endDate")}} /></label>
  <label class="field">
    <span class="field-label">Description</span>
  </label>
  <section class="descriptions">
    <h4 class="section-title">Descriptions</h4>
    <ul class="desc-list editable">
      {{#each @experience.descriptions as |d index|}}
        <Description
          @description={{d}}
          @index={{index}}

          @onEdit={{fn this.startEditDescription index d}}
          @onDblClick={{fn this.startEditDescription index d}}
          @isEditing={{this.isEditing index}}
          @draft={{this.editingDraft}}
          @onInput={{this.updateEditingDraft}}
          @onKeydown={{fn this.handleDescriptionKeydown index d}}
          @onCommit={{fn this.commitDescription index d}}
          @onCancel={{this.cancelEditDescription}}
        />
      {{/each}}
    </ul>
  </section>
  <div class="form-actions">
    <button type="button" class="btn" {{on "click" this.cancel}}>Cancel</button>
    <button type="button" class="btn" {{on "click" this.deleteExperience}}>Delete</button>
  </div>
</form>
