<form class="builder-form" {{on "submit" this.save}}>
  <div class="exp-header" role="button" aria-expanded={{if this.isExpanded "true" "false"}} {{on "click" this.toggleExperience}}>
    <div class="exp-header-info">
      <span class="exp-header-title">{{if @experience.title @experience.title "New Experience"}}</span>
      {{#if @experience.company.name}}
        <span class="exp-header-company">{{@experience.company.name}}</span>
      {{/if}}
    </div>
    <div class="exp-header-actions">
      <button
        type="button"
        class="exp-delete"
        title="Delete"
        {{on "click" this.deleteExperience}}
        {{on "click" this.stopPropagation}}
      >✕</button>
      <svg class="exp-chevron {{if this.isExpanded 'expanded'}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="16" height="16">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
  {{#if this.isExpanded}}
    {{#if this.errorMessage}}<p class="error">{{this.errorMessage}}</p>{{/if}}
    <input type="hidden" name="resume_id" value={{@experience.resumeId}} />

    <div class="field">
      <label class="field-label">Company</label>
      <input type="text" value={{@experience.company.name}} disabled />
    </div>

    <div class="field-row">
      <div class="field">
        <label class="field-label">Title</label>
        <input
          type="text"
          value={{@experience.title}}
          {{on "input" (fn this.updateField "title")}}
        />
      </div>
      <div class="field">
        <label class="field-label">Location</label>
        <input
          type="text"
          value={{@experience.location}}
          {{on "input" (fn this.updateField "location")}}
        />
      </div>
    </div>

    <div class="field-row">
      <div class="field">
        <label class="field-label">Start Date</label>
        <input
          type="date"
          value={{this.formattedStartDate}}
          {{on "input" (fn this.updateField "startDate")}}
        />
      </div>
      {{#if this.currentlyWorking}}
        <div class="field">
          <label class="field-label">End Date</label>
          <input type="text" value="Present" disabled />
        </div>
      {{else}}
        <div class="field">
          <label class="field-label">End Date</label>
          <input
            type="date"
            value={{this.formattedEndDate}}
            {{on "input" (fn this.updateField "endDate")}}
            disabled={{this.currentlyWorking}}
          />
        </div>
      {{/if}}
    </div>

    <label>
      <input
        type="checkbox"
        checked={{this.currentlyWorking}}
        {{on "change" this.toggleCurrentlyWorking}}
      />
      I currently work here
    </label>

    <div class="field-label">Description</div>
    <section class="descriptions">
      <h4 class="section-title">Descriptions</h4>
      <ul class="desc-list editable">
        {{#each @experience.descriptions as |d|}}
          <Descriptions::Editor::Form
            @description={{d}}
            @onDelete={{fn this.removeDescription d}}
          />
        {{/each}}
      </ul>
      <button
        type="button"
        class="btn small"
        {{on "click" this.addDescription}}
      >Add description</button>
    </section>

    <div class="form-actions">
      <button type="submit" class="btn primary">Save</button>
      <button type="button" class="btn" {{on "click" this.cancel}}>Cancel</button>
      <button type="button" class="btn" {{on "click" this.deleteExperience}}>Delete</button>
    </div>
  {{/if}}
</form>
