<form class="builder-form" {{on "submit" this.saveCompany}}>
  <div class="field">
    <label class="field-label">
      Company name
    </label>
    <input
      type="text"
      id="companyName"
      value={{@company.name}}
      {{on "change" this.updateCompanyName}}
    />
  </div>
  <div class="field-full">
    <label class="field-label" for="companyNotes">Notes</label>
    <textarea id="companyNotes" {{on "change" this.updateCompanyNote}}>
      {{@company.note}}
    </textarea>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn">save</button>
  </div>
</form>
{{yield}}