<div class="builder-form">
  <div class="field companies-select-row">
    <div class="grow">
      <Companies::Selector
        @companies={{this.companies}}
        @selected={{this.selectedCompany}}
        @onInput={{this.selectInput}}
        @companyCallback={{this.updateCompany}}
        @onKeydown={{this.companyKeydown}}
        @labelText={{this.labelText}}
        as |company|
      >
        {{company.name}}
      </Companies::Selector>
    </div>
  </div>

  {{#if this.showCreate}}
    <div class="field">
      <Companies::FastCreate />
    </div>
  {{/if}}
</div>
{{yield}}