<Menus::SubnavBar>
  <Companies::Search @companies={{this.model}}/>
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}}/>
<div class='fairway'>
  {{#each this.sortedCompanies as |company|}}
    <Panel::Card>
      <LinkTo @route="companies.show" @model={{company}}>{{company.name}}</LinkTo>
      <LinkTo class='nav-link' @route="companies.edit" @model={{company}}>Edit</LinkTo>
      {{!-- <button type='button' class='btn danger' {{on 'click' (fn this.deleteCompany company)}}>delete</button> --}}
    </Panel::Card>
  {{/each}}
</div>
