<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <div class="controls">
      <input
        type="search"
        aria-label="search"
        placeholder="Search companies..."
        value={{this.searchInput}}
        {{on "input" this.onSearchInput}}
      />
      <LinkTo @route="companies.new" class="btn">+ New Company</LinkTo>
    </div>
  </:subnav>
  <:main>
    {{#if this.isSearching}}
      <div class="py-8 text-center text-sm text-gray-400">Searching…</div>
    {{else}}
      <Companies::List @companies={{this.model}} @onDelete={{this.deleteCompany}} />
      <InfinityLoader @infinityModel={{this.model}} @hideOnInfinity={{true}}>
        <div class="py-4 text-center text-sm text-gray-400">Loading more…</div>
      </InfinityLoader>
    {{/if}}
  </:main>
</RouteLayout>
