<Menus::SubnavBar>
  <div class="controls">
    <input
      type="search"
      aria-label="search"
      placeholder="Search companies..."
      value={{this.query}}
      {{on "input" this.onInput}}
    />
    <LinkTo @route="companies.new" class="btn">+ New Company</LinkTo>
  </div>
</Menus::SubnavBar>
<BarCart @flashMessages={{this.flashMessages}} />
<div class="fairway">
  <Companies::List @companies={{this.companies}} @onDelete={{this.deleteCompany}} />
</div>