<article class="panel-card builder-form">
  Questions from an application you want AI to answer
  <form class="questions-form" {{on "submit" this.save}}>
    <div class="field">
      <PowerSelect
        @options={{this.companies}}
        @onChange={{this.updateCompany}}
        @selected={{this.selectedCompany}}
        @searchField="name"
        @searchEnabled={{true}}
        @placeholder="Select a Company"
        @labelText="Company"
        as |company|
      >
        {{company.name}} (with {{company.jobPosts.length}} job post)
      </PowerSelect>
    </div>
    <div class="field">
      <label for="question-content">Question</label>
      <textarea
        id="question-content"
        class="textarea"

        value={{@question.content}}
        {{on "input" this.updateContent}}
        placeholder="Enter your question here"
        rows="4"
      ></textarea>
    </div>

    <div class="field">

      <PowerSelect
        @options={{this.jobApplications}}
        @onChange={{this.updateJobApplication}}
        @selected={{this.selectedJobApplication}}
        @placeHolder="Select job application"
        @allowClear={{true}}
        @labelText="Job application"
        as |jobApplication|
      >
        {{jobApplication.name}}
      </PowerSelect>

    </div>
    <div class="actions">
      <button type="submit" class="button is-primary" disabled={{@question.isSaving}}>
        Save
      </button>
      <button type="button" class="button" {{on "click" this.cancel}}>
        Cancel
      </button>
      {{#if (and this.selectedCompany.id @question.content)}}
        <button
          class="btn" type="submit" {{on 'click' this.saveAndNew}}
        >
            save an new {{this.selectedCompany.name}} Question
        </button>
      {{/if}}
    </div>
  </form>
</article>
