<div class="builder-form">
  <p>
    <LinkTo @route="companies.show" @model={{@question.company.id}}>{{@question.company.name}}</LinkTo> asked on job application: {{@question.jobApplication.id}}
    <br/>
    {{@question.content}}
  </p>
  <button class='btn' type="button" {{on 'click' this.askAI}}>ask AI to answer</button>
  {{yield}}
</div>
