<div class="builder-form">
  <p>
    <LinkTo
      @route="companies.show"
      @model={{@question.company.id}}
    >{{@question.company.name}}</LinkTo>
    asked on job application:
    {{@question.jobApplication.name}}
    <LinkTo @route="job-posts.show" @model={{@question.jobApplication.jobPost}}>
      {{@question.jobApplication.jobPost.id}}
    </LinkTo>
    <br />
    {{@question.content}}
  </p>
  {{yield}}
</div>
