{{yield}}
<button type="button" {{on "click" this.previous}}>Previous</button>
<button type="button" {{on "click" this.next}}>Next</button>
<button type="button" {{on "click" this.score}}>Score</button>
<button type="button" {{on "click" this.apply}}>Apply</button>