<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button
      type="button"
      class="btn"
      {{on "click" this.saveCoverLetter}}
    >Save</button>
  </:subnav>
  <:main>
    <Panel::Card @collapsible={{true}} @title="Resume (optional)">
      <PowerSelect
        @options={{this.resumeOptions}}
        @onChange={{this.updateResume}}
        @selected={{this.selectedResume}}
        as |resume|
      >
        {{or resume.name resume.title}}
      </PowerSelect>
    </Panel::Card>
    <Panel::Card>
      <label>Select a job post</label>
      <JobPosts::Selector
        @jobPosts={{this.jobPosts}}
        @jobPostCallback={{this.addJobPostToCoverLetter}}
      />
    </Panel::Card>
    {{#if this.model.jobPost}}
      <Panel::Card>
        <button
          type="button"
          class="btn primary"
          {{on "click" this.saveCoverLetter}}
        >
          AI Craft Cover Letter
        </button>
      </Panel::Card>
    {{/if}}
    <Panel::Card @collapsible={{true}}>
      <CoverLetters::Form @coverLetter={{this.model}} />
    </Panel::Card>
  </:main>
</RouteLayout>