<RouteLayout @flashMessages={{this.flashMessages}}>
  <:subnav>
    <button type="button" class="btn" {{on "click" this.saveCoverLetter}}>Save</button>
  </:subnav>
  <:main>
    <div class="builder-form">
      <Panel::Card>
        <label>Select a job post</label>
        <JobPosts::Selector
          @jobPosts={{this.jobPosts}}
          @jobPostCallback={{this.addJobPostToCoverLetter}}
        />
      </Panel::Card>
    </div>
    <Panel::Card @collapable={{true}}>
      <CoverLetters::Form @coverLetter={{this.model}} />
    </Panel::Card>
  </:main>
</RouteLayout>
