{{yield}}
{{!-- preview section  --}}
{{#if this.canClone}}
  <button type="button" {{on "click" this.cloneResume}}>Clone</button>
{{/if}}

<div class="profile" style="text-align: center;">
  <div class="name">{{@resume.user.name}}</div>
  <div class="title">{{@resume.title}}</div>
  <div class="email">{{@resume.user.email}}</div>
</div>

<section>
  <h2>Summary</h2>
  <hr/>
  <div class="summary">{{@resume.summary.content}}</div>
</section>
<section>
  <h2>Skills</h2>
  <hr/>
<pre>
  {{#if @resume.activeSkill}}
      {{@resume.activeSkill.text}}
  {{/if}}
</pre>
</section>

<section>
  <h2>Experience</h2>
  <hr/>
  {{#each @resume.experiences as |exp|}}
    <article class="experience">
      <div class="job-header">
        <div class="job-title">
          {{exp.title}}
          <span class="job-dates" style="float: right;">
            {{#if exp.startDate}}
              {{#if exp.endDate}}
                {{format-date exp.startDate "MM.YYYY"}} - {{format-date exp.endDate "MM.YYYY"}}
              {{else}}
                {{format-date exp.startDate "MM.YYYY"}}
              {{/if}}
            {{else}}
              {{#if exp.endDate}}
                {{format-date exp.endDate "MM.YYYY"}}
              {{/if}}
            {{/if}}
          </span>
        </div>
        <div class="job-meta">
          <span>{{exp.company.name}}</span>
          <span class="dot">•</span>
          <span>{{exp.location}}</span>
        </div>
      </div>

      {{#if exp.summary}}
        <div class="job-summary">{{exp.summary}}</div>
      {{/if}}

      <ul class="desc-list">
        {{#each exp.descriptions as |d|}}
          <li class="desc-item">{{d.content}}</li>
        {{/each}}
      </ul>
    </article>
  {{/each}}
</section>


<section>
  <h2>Education</h2>
  <hr/>
  {{#each @resume.educations as |education|}}
    <Educations::Item @education={{education}} />
  {{/each}}
</section>

<section>
  <h2>Certifications</h2>
  <hr/>
  {{#each @resume.certifications as |certification|}}
    <Certifications::Item @certification={{certification}} />
  {{/each}}
</section>
<button type="button" {{on "click" this.cloneResume}}>Send to API</button>
<ul>
    <li>action 1</li>
    <li>action 2</li>
</ul>
{{outlet}}
