{{yield}}
<h1>
    <LinkTo @route="resumes.show" @model={{@resume}}>Resume #{{@resume.id}}</LinkTo>
</h1>
<h2>{{@resume.title}}</h2>
<p>
    <h1>Summary</h1>
    <hr/>
    {{@resume.summary.content}}
    <br/>
    <h1>Experience</h1>
    <hr/>
    {{#each @resume.experiences as |experience|}}
        {{#if (this.isEditingExperience experience)}}
          <Experiences::Form @experience={{experience}} @allowStandaloneSave={{false}} />
        {{else}}
          <Experiences::Item @experience={{experience}} />
        {{/if}}
    {{/each}}
    <h1>Education</h1>
    <hr/>
    {{#each @resume.educations as |education|}}
      <Educations::Item @education={{education}} />
    {{/each}}
    <h1>Certifications</h1>
    <hr/>
    {{#each @resume.certifications as |certification|}}
      <Certifications::Item @certification={{certification}} />
    {{/each}}
</p>
<button type="button" {{on "click" this.submitResume}}>Send to API</button>
<ul style='display: inline'>
    <li>action 1</li>
    <li>action 2</li>
</ul>
{{outlet}}
