{{page-title "Career Caddy"}}
<header class="app-sticky-header">
  <TopBar @session={{this.session}} @user={{this.currentUser}} />
  <div class="container">
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
  </div>
</header>
<MainApplication>
{{outlet}}
</MainApplication>
<footer>
  copyelft 2025
</footer>
