{{page-title "Setup"}}

<div class="container">
  <h1>Welcome to Career Caddy</h1>
  <p>Let's set up your account to get started.</p>

  {{#if this.errorMessage}}
    <div class="error">{{this.errorMessage}}</div>
  {{/if}}

  <form {{on "submit" this.save}}>
    <label class="field">
      Name
      <input type="text" value={{this.model.name}} {{on "input" this.updateName}}  />
    </label>

    <label class="field">
      Email
      <input type="email" value={{this.model.email}} {{on "input" this.updateEmail}}  />
    </label>

    <label class="field">
      Phone
      <input type="tel" value={{this.model.phone}} {{on "input" this.updatePhone}} />
    </label>

    <label class="field">
      Username
      <input type="text" value={{this.model.username}} {{on "input" this.updateUsername}} autocomplete="username" />
    </label>

    <label class="field">
      Password
      <input type="password" value={{this.model.password}} {{on "input" this.updatePassword}} autocomplete="new-password" />
    </label>

    <div class="form-actions">
      <button type="submit" class="btn primary" disabled={{this.saving}}>
        {{if this.saving "Setting up..." "Save"}}
      </button>
      <button type="button" class="btn" {{on "click" this.cancel}} disabled={{this.saving}}>
        Cancel
      </button>
    </div>
  </form>
</div>
